*{
    margin: 0px;
    padding: 0px;
}
:root{
    
}

.main{
    display:grid;
    grid-template-columns: 100px 100px 100px ;
    grid-template-rows: 200px 200px;
    grid-template-columns: repeat(6,200px);
    grid-template-columns: 100px 200px 300px ;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: 1fr 1fr 3fr 2fr;
    grid-template-columns: repeat(3,200px);
    grid-template-columns: 100px 100px 100px;
    /* justify-content: space-between; */
    /* justify-content: center; */
    gap: 200px;
}
.col-1{
    background-color: gray;
}
.col-2{
    background-color: blue;
}
.col-3{
    background-color: rgb(131, 88, 35);
}
.col-4{
    background-color: goldenrod;
}