
body{
    background-color: orangered;
}
main{
    
    margin: center;
    margin-top: 100px;
    width: 900px;
    height: 500px;
    position: relative;

    

}
.col1{
    background-color: aliceblue;
    margin: auto;
    width: 600px;
    margin-top: 80px;
    margin-left: 400px;
    height: 300px;
    position:fixed ;
    border-radius: 10px;
}
.col2{
    margin: auto;
    width: 270px;
    height: 200px;
    margin-top: -150px;
    margin-left: -100px;
    background-color:rgb(117, 64, 177);
    border-radius: 10px;
    position: fixed;
}
.col1 .tx{
    text-justify: auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 200px;
}
.col1 .btn button{ 
    background-color: rgb(236, 11, 11);
    border-radius: 10px;
   border:none;
   margin: center;
}